@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One+SC&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-shopping-cart {
    width: 500px;
    height: 750px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: #E1F3FB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-cart {
    margin-top: 1rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #c0c0c0;
}

.search-shopecart {
    border: 0;
    outline-style: none;
    width: 25rem;
    height: 2.5rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    color: rgb(160, 160, 160);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2rem;

}

.carritoVacio {
    margin-top: 10rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: #c0c0c0;
}

.container-card-list {
    display: flex;
    flex-direction: column;

    height: 41rem;
    width: 27.4rem;

}



.cardmyproduct-cart {
    border-radius: 0.8rem;
    background-color: #ffffff;
    width: 27.4rem;
    height: 8rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.image-product {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 10rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.img {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.info-product-cart {
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 20rem;
    padding-left: 0.5rem;
    
}

.shopping {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    height: 6.1rem;
    margin: 0.3rem;
    background-color: #ffffff;
    justify-content: space-between;

}

.delete {
    background-color: #ffffff;
    border: 0;
    margin-left: 2rem;
    cursor: pointer;
}

.comprar {
    border: 0;
    margin-right: 0.4rem;
    font-size: 0.8rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    background-color: rgb(176, 250, 225);
    color: rgb(21, 83, 63);
}
.comprar:hover{
    background-color: rgb(207, 252, 237);
    color: rgb(29, 102, 79);
}
.RiDeleteBin6Line{
    color: rgb(248, 171, 5);
}
.RiDeleteBin6Line:hover{
    cursor: pointer;
    color: rgb(255, 92, 92);
}
.product-name-cart {
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #414141;
    list-style: none;
}

.color-cart {

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style: none;
}

.price-cart {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    list-style: none;
}
.Product-quantity{
   
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style: none; 
}

.searche-dashboard {}