@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One+SC&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-payment {
    width: 500px;
    height: 750px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    
}
.info-factura{
    width: 450px;
    display: flex;
    flex-direction: column;

}
.valor-pago{
    width: 450px;
    border-radius: 0.5rem;
    background-color: rgb(166, 247, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.no.auto{

}
.info-productt{
    margin-top: 3rem;
    width: 450px;
    display: flex;
    flex-direction: column; 
}
h1{
   font-size: 20px;
}
.costo{
    font-size: 15px;
}
.btn-ok{
    width: 450px;
    margin-top: 1rem;
    background-color: rgb(156, 231, 181);
    color:  rgb(63, 117, 68);
    outline-style: none;
    border: 0;
}
.btn-ok:hover{
    background-color: rgb(166, 247, 193);
    color: aliceblue;
    outline-style: none;
    border: 0;
}
.btn-pdf{
    outline-style: none;
    background-color: rgb(255, 255, 255);
    border: 0;
    margin-left: 23rem;

}
.btn-pdf:hover{
 background-color: rgb(255, 255, 255);
}
.price-fact{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: rgb(42, 58, 28); 

}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}