@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One+SC&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.cotainer-card-dashboard- {
    width: 28.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    cursor: pointer;
    
    
}

.container-img-listDashboard {
    height: 140px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgb(255, 255, 255);
}

.info-product {
    width: 16rem;
    height: 140px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding-left: 0.5rem;
    
}

.contador-{
width: 3.5rem;
height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.img-list-cardDashboard {

    width: 140px;
    height: 140px;
}

.less {
    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 0;
    width: 1.9rem;
    height: 1.9rem;

}
.less:hover{
    background-color: rgb(217, 236, 253);
    color: rgb(76, 171, 255);
}

.amount {
    border: 0;
    width: 1.9rem;
    height: 1.9rem;
    
}
.amount:hover{
    background-color: rgb(217, 236, 253);
    color: rgb(76, 171, 255);
}

.further {
    width: 1.9rem;
    height: 1.9rem;
    border: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.further:hover{
    background-color: rgb(217, 236, 253);
    color: rgb(76, 171, 255);
}
.product-name{
    margin-top: 0.5rem;
    color:  #515557;;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
}
.color{
    color:  #444f53;;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.price{
    color:  #444f53;;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
}
.brand{
    color:  #8b8547;;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
ul {
    list-style-type: none;
  }
.container-quantity{
    display: flex;
    flex-direction: row;
}
.quantity{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
.amount{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}
.unidad{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}