@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One+SC&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-input-seeker {

    display: flex;
    flex-direction: row;
}

.search {
    border: 0;
    outline-style: none;
    width: 16rem;
    height: 2.5rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    color: rgb(160, 160, 160);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2rem;

}

.container-icon {
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    margin-top: 2rem;
}

.search::placeholder {
    color: rgb(114, 114, 114);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.icon-search {
    color: rgb(114, 114, 114);
    width: 1.5rem;
    height: 1.5rem;

}
.contador-carrito{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 201, 201);
    position: absolute;
    margin-left: 20.1rem;
    margin-top: 3rem;
    font-size: 10px;
    border-radius: 5px;
    color:aliceblue
}
