@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bowlby+One+SC&family=Carter+One&family=Fjalla+One&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-produt{
    width: 500px;
    height: 844px;
    border-radius: 1.5rem;
    background-color: #E1F3FB;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contaniner-seeker-BsCart3{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    
   }
   .icon-BsCart3{
    color: #999999;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
}
.icon-menu{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}
.container-info-product{
    margin-top: 2rem;
    background-color: #ffffff;
    width: 26rem;
    height: 30rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neme-product{
    color: #4e4e4e;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 1rem;
    margin-right: 8rem; 
}
.image-produc-select{
    margin-left: auto;
    margin-right: auto;   
}
.pricee{
    margin-top: 3rem;
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    margin-right: 17rem;
}
.send{
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: #2DB9F5;
    margin-right: 19.5rem;
}
.stock-product{
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    margin-right: 17rem;
    
}


.buy-now{
    background-color: #2DB9F5;
    margin-top: 2rem;
    width: 20rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ebebeb;
     
}
.buy-now:hover{
    background-color: #63ebe0;
    color: #1b968b;
    transition: 0.3s;
}
.Add-to-cart{
    background-color: #2DB9F5;
    margin-top: 1rem;
    width: 20rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal; 
    color: #ebebeb;
}
.Add-to-cart:hover{
    background-color: #63ebe0;
    color: #1b968b;
    transition: 0.3s;
}
.dashboard-produc{
   margin-top: 2.5rem;   
}